{% extends "base.html" %}

{% block htmltitle %}
<title>Your title</title>
{% endblock %}

{% block content %}

{% if page.url_to_print_page %}
<a href="{{ page.url_to_print_page }}" title="Print Site" class="md-content__button md-icon">
{% include ".icons/material/printer.svg" %} 
</a> {% endif %} {{ super() }}

{% endblock content %}
